.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 400px;
	height: 300px;
	border-radius: 12px;
	position: relative;
	left: 400px;
	top: 100px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.add {
	cursor: pointer;
	background: #6cd473;
	width: 90px;
	height: 30px;
	border-radius: 10px;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-color: #00ff1185;
	text-decoration: none;
	text-align: center;
	padding-top: 5px;
}
.inputs {
	margin-left: 3px;
	padding-left: 5px;
	border-radius: 6px;
	color: gray;
	outline: none;
	border-color: rgb(170, 169, 169);
}
